
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Teko:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button {
    font-size: 2em;
    font-family: "Teko", sans-serif;
    padding: 16px;
    border-radius: 16px;
    background-color: #cbd651;
  }
  
  .movie {
    background-color: #4dc2dc;
    border: 1px solid #070410;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.6);
  }
  .movie .movie img {
    width: 100%;
    height: auto;
  }
  
  .movie-details {
    display: flex;
    padding: 16px;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    text-align: justify;
  }
  
  header {
    display: flex;
    background-color: #4dc2dc;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.6);
  }
  header h1 {
    font-size: 3em;
    font-family: "Teko", sans-serif;
  }
  header nav {
    display: flex;
    gap: 48px;
  }
  header nav a {
    text-decoration: none;
    color: #070410;
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
  header button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .movies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "large large" "middleone middletwo" "bottomone bottomone" "bottomtwo bottomtwo" "bottomthree bottomthree";
    margin: 48px auto;
    gap: 48px;
    max-width: 900px;
  }
  .movies-container .large {
    display: flex;
    flex-direction: column;
    grid-area: large;
  }
  .movies-container .large img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0px 11%;
  }
  .movies-container .large button {
    line-height: 0.9;
  }
  .movies-container .large .movie-details {
    gap: 16px;
    text-align: left;
  }
  .movies-container .large p {
    width: 655px;
  }
  
  .middle-row {
    display: flex;
    flex-direction: column;
  }
  .middle-row #middle-movie-one {
    grid-area: middleone;
  }
  .middle-row #middle-movie-two {
    grid-area: middletwo;
  }
  .middle-row img {
    width: 100%;
    height: 100%;
  }
  .middle-row .movie-details {
    flex-direction: column;
    gap: 16px;
  }
  
  .bottom-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
  }
  .bottom-column #bottom-movie-one {
    grid-area: bottomone;
  }
  .bottom-column #bottom-movie-two {
    grid-area: bottomtwo;
  }
  .bottom-column #bottom-movie-three {
    grid-area: bottomthree;
  }
  .bottom-column .movie-details {
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  .bottom-column img {
    width: 100%;
  }
  
  @media (min-width: 720px) and (max-width: 1024px) {
    header nav {
      gap: 32px;
    }
    .movies-container {
      grid-template-areas: "large middleone" "middletwo bottomone" "bottomtwo bottomthree";
      gap: 32px;
      margin: 32px;
    }
    .movies-container .large img {
      width: 100%;
      height: auto;
    }
    .movies-container .large button {
      line-height: normal;
    }
    .movies-container .large p {
      width: 100%;
    }
    .movies-container .large .movie-details {
      flex-direction: column;
      height: 100%;
      text-align: justify;
      justify-content: space-between;
    }
    .middle-row img {
      width: 100%;
      height: auto;
    }
    .middle-row .movie-details {
      justify-content: space-between;
      height: 100%;
    }
    .bottom-column {
      display: flex;
      flex-direction: column;
      grid-column: auto;
    }
    .bottom-column img {
      width: 100%;
      height: auto;
    }
    .bottom-column .movie-details {
      height: 100%;
    }
  }
  @media (min-width: 360px) and (max-width: 720px) {
    header h1 {
      font-size: 2em;
    }
    header nav {
      gap: 16px;
    }
    .movies-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "large" "middleone" "middletwo" "middle3" "bottomone" "bottomtwo" "bottomthree";
      gap: 16px;
      margin: 16px;
    }
    .movies-container .large img {
      width: 100%;
      height: auto;
    }
    .movies-container .large button {
      line-height: normal;
    }
    .movies-container .large .movie-details {
      flex-direction: column;
    }
    .movies-container .large p {
      width: 100%;
    }
    .middle-row img {
      width: 100%;
      height: auto;
    }
    .middle-row .movie-details {
      justify-content: space-between;
    }
    .bottom-column {
      display: flex;
      flex-direction: column;
      grid-column: auto;
    }
    .bottom-column img {
      width: 100%;
      height: auto;
    }
    .bottom-column .movie-details {
      gap: 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    nav a {
      display: none;
    }
  }